<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBankService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BankService/serv" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IBankService" contract="ServiceReference1.IBankService"
                name="WSHttpBinding_IBankService">
                <identity>
                    <userPrincipalName value="Admin-ПК\Admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>