<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<file>
	<ex>json</ex>
	<type>ISON file</type>
	<descr>ISON file with minimal description</descr>
	
	<code>
{
   "firstName": "Иван",
   "lastName": "Иванов",
   "address": {
       "streetAddress": "Московское ш., 101, кв.101",
       "city": "Ленинград",
       "postalCode": 101101
   },
   "phoneNumbers": [
       "812 123-1234",
       "916 123-4567"
   ]
}
	</code>
	
</file>