<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="MyServer1.MyMath">
                <endpoint address="http://localhost/MyMath" binding="basicHttpBinding"
                    bindingConfiguration="" contract="MyServer1.IMyMath" />
            </service>
        </services>
    </system.serviceModel>
</configuration>