body {
	background: #333
}

.chessboard{
	width: 640px;
	height: 640px;
	border: 20px solid #a50;

	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.figure{
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.square{
	float: left;
	width: 80px;
	height: 80px;
}

.whiteSquare{
	background: #fff;
}
.blackSquare{
	background: #555;
}

.whiteFigure{
	position: relative;
	color: #f00;
}
.blackFigure{
	position: relative;
	color: #00f;
}